name: "Deploy Prueba de Github Actions"

on:
  push:
    branches: ["main"]

jobs:
  deploy-prueba:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Hacemos pull del código
        run: echo "Hacemos pull del código"

      - name: Correr migraciones
        run: echo "Correr migraciones"

      - name: Generar binario
        run: echo "Generar binario"

      - name: Publicar versión
        run: echo "Publicar versión"

       name: Publicar versión 2
      run: echo "Publicar versión 2"